<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile EJS</title>
    <style>
        h1{
            color:red
        }
         h2{
            color:green
        }
    </style>
</head>
<body>
        <%-include("common/header") %>
       <h1> How are you? <%=user.name %>  </h1>
       <h2><%=user.email %></h2> 
         <h2><%=user.city %></h2>
         <ul>
            <% user.skills.forEach((item)=>{ %>
                <li><%=item %></li>
           <% }) %>
            <li></li>
         </ul>
         
  
</body>
</html>